@{
    Layout = "~/Views/Shared/_AdminPage.cshtml";
    ViewBag.Title = "AdminPanel";
    string weekDay = DateTime.Now.DayOfWeek.ToString();

}


    <div class="col l6 m8 s12 main-info">
        <div class="top-stripe">
            <p><strong>Today</strong></p>
        </div>
        <div>
            <div class="col l6 m6 s12 user-information">
                <p>
                    <strong>@weekDay.ToUpper()</strong>
                </p>
                <p>
                    @DateTime.Now.ToLongDateString()
                </p>
                <p>
                    <span class="clock-time"><i class="fa fa-clock-o"></i><strong>@DateTime.Now.ToShortTimeString()</strong></span>
                </p>
            </div>
            <div class="col l6 m6 s12 user-information-picture">
                <div class="col l12 m12 s12 user-picture"></div>
                <div class="col l12 m12 s12"></div>
            </div>
        </div>

    </div>
    <div class="col l6 m4 s12 main-elements">
        sdsd
    </div>
