body {
    margin: 0;
    padding: 0;
}

.submitButton {
    background-color: #00acc1;
}

.submitButton:hover {
    background-color: #00acc1;
}
/*------- Pagination PagedList style -------*/
.pagination{

}
.pagination li.active {
    background-color: #00acc1;
}
/*------- Pagination PagedList style END-------*/

/*---Log in ---*/
.tco {
    background-color: #f1f1f1;
}

.red-circle {
    background-color: #00acc1;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
}

    .red-circle > i {
        color: white;
        padding-top: 15px;
        padding-left: 15px;
    }

.log-in-btn {
    background-color: #00acc1;
    width: 100%;
    height: 45px;
    margin-top: 20px;
    margin-bottom: 20px;
}

    .log-in-btn:hover {
        background-color: #00acc1;
        color: black;
        font-weight: 500;
    }

.input-style > input:focus {
    border-bottom: 1px solid #00acc1;
    !important;
    box-shadow: 0 1px 0 0 #00acc1;
    !important;
}

.input-style > input:hover {
    border-bottom: 1px solid #00acc1;
    !important;
    box-shadow: 0 1px 0 0 #00acc1;
    !important;
}

.reg-account {
    font-size: 1.1em;
    margin-bottom: 20px;
}
/*---Log in END---*/


/*---Register account---*/
.form-fields {
    margin-top: 0px;
    height: 500px;
    border-radius: 0px 3px 3px 0px !important;
}

.reg-back {
    background: url('Images/Register back/reg1.jpg') 50% no-repeat;
    background-size: cover;
    height: 500px;
    border-radius: 3px 0px 0px 3px !important;
}

.text-wrapper {
    font-size: 1.6em;
    font-family: Noto Sans;
    margin-top: 20px;
    margin-bottom: 20px;
}

    .text-wrapper > p {
        text-align: center;
    }

.check-input {
    margin-top: 20px;
    margin-bottom: 20px;
}
/*---Register account END---*/




/*---Card image for doctors---*/



.doctor-wrapper {
    width: 25% !important;
    margin-left: 2% !important;
}

.inf-block {
    color: black;
}

    .inf-block:hover {
        color: #00ACC1;
       
    }

.schedule-btn {
    background-color: #00ACC1;
    margin-top: 10px;
    margin-bottom: 18px;
}

    .schedule-btn:hover {
        background-color: #00ACC1;
        color: black;
        font-weight: 500;
    }

.text-name {
    font-family: Noto Sans;
    font-size: 1.3em;
    padding-top: 15px;
}


@media only screen and (min-width: 993px) {
    .doctor-wrapper {
        width: 23% !important;
        margin-left: 2% !important;
    }

        .doctor-wrapper:hover {
            box-shadow: 0 20px 80px 0 rgba(4, 4, 4, 0.19), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
        }
}
/*---Card image for doctors END---*/

/*---Menu---*/
.menu {
    background-color: #139597;
    height: 80px;
}

/*---Menu END---*/
@media only screen and (min-width: 601px) {
    .doctor-wrapper {
        margin-top: 30px;
        width: 22% !important;
        margin-left: 2% !important;
    }

        .doctor-wrapper:hover {
            box-shadow: 0 20px 80px 0 rgba(4, 4, 4, 0.19), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
        }
}
@media only screen and (max-width: 824px) {
    .doctor-wrapper {
        width: 30% !important;
        margin-left: 2% !important;
        margin-right: 1% !important;
    }

        .doctor-wrapper:hover {
            box-shadow: 0 20px 80px 0 rgba(4, 4, 4, 0.19), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
        }
}
@media only screen and (max-width: 600px) {
    .doctor-wrapper {
        width: 98% !important;
        margin-left: 1% !important;
        margin-right: 1% !important;
    }
}


/*-----Navigation -----*/
.menu-navigation{
    float:left;
    list-style: none;    
}

.menu-navigation li{
    display:inline-block;
    float:left;
    margin-right:1px;
    font-size:17px;   
}
.menu-navigation li a{
    border-right: 1px solid rgba(0, 0, 0, 0.18);
    display:block;
    padding:22px 25px;
    text-decoration:none;
    color: black;
    position:relative;
    transition: background-color 0.6s,color 0.6s;
    font-weight:500;
    text-transform:uppercase;
}
.menu-navigation li a:hover{
    background-color:#00acc1;
    color:white;
}
.active-block-menu{
    background-color:#00acc1;
    color:white!important;
}
.banner{
    width:80%;
    height:400px;
}
.wraper-block-button{

   
}
.button-menu i{
   
     border:2px solid #00ACC1;
     color:#00ACC1;
     margin-top:3px;
   
}
#dropdown1{
    width:250px!important;
}

/*-----Navigation END -----*/