@model Medicine.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}
<div class="container">
    <div class="row">
        <section id="loginForm">
            @using (Html.BeginForm("EditPassword", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="col l4 push-l4 m4 push-m4 s12 card z-depth-1-half form-wraper">
                    <div class="red-circle">
                        <i class="material-icons medium center">near_me</i>
                    </div>
                    <div class="col l10 push-l1 m10 push-m1 s10 push-s1 input-style">
                        <input type="password" placeholder="Old Password" name="OldPassword" />
                    </div>

                    <div class="col l10 push-l1 m10 push-m1 s10 push-s1 input-style">
                        <input type="password" placeholder="New Password" name="NewPassword" />
                    </div>
                    <div class="col l10 push-l1 m10 push-m1 s10 push-s1 input-style">
                        <input type="password" placeholder="Repeat Password" name="ConfirmPassword" />
                    </div>
                    <div class="col l10 push-l1 m10 push-m1 s10 push-s1">
                        <input class="btn log-in-btn" type="submit" value="Change password" />
                    </div>
                </div>
            }
        </section>

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
