@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<div class="row" >
    <div class="container">
        <div class="center">
            <img src="~/Content/Images/Staff/personal.jpg" class="banner responsive-img" />
        </div>

        <div class="col l12 m12 s12 mainBlock" >
            <div class="col l3 m6 s12 cancel-paddings" >
                <div class="block-info card">
                    <span><i class="fa fa-hospital-o fa-5x" aria-hidden="true"></i></span>
                    <p class="title-text">Caring for the health of the whole family</p>
                    <p class="text-small">Whole Family Health Center strives to provide integrated compassionate, affordable, quality health care for patients in the communities we serve.</p>
                </div>
            </div>
            <div class="col l3 m6 s12 cancel-paddings">
                <div class="block-info card">
                    <span><i class="fa fa-user-md fa-5x" aria-hidden="true"></i></span>
                    <p class="title-text">Work Related Services</p>
                    <p class="text-small">Our professionals also treat work-related illnesses and injuries, and many employers turn to Family Medicine for pre-employment and physicals. </p>
                </div>
            </div>
            <div class="col l3 m6 s12 cancel-paddings" >
                <div class="block-info card">
                    <span><i class="fa fa-medkit fa-5x" aria-hidden="true"></i></span>
                    <p class="title-text">Non-Surgical Orthopedic Care</p>
                    <p class="text-small">Non-Surgical Orthopedic Care includes the splinting and casting of uncomplicated fractures as well as minor breakst also includes the treatment of repetitive motion injuries.</p>
                </div>
            </div>
            <div class="col l3 m6 s12 cancel-paddings">
                <div class="block-info card">
                    <span><i class="fa fa-heartbeat fa-5x" aria-hidden="true"></i></span>
                    <p class="title-text">Primary Care</p>
                    <p class="text-small">If you need continuing medical management of diabetes, high blood pressure, elevated cholesterol, or another condition, our doctors can be your doctors. </p>
                </div>
            </div>
        </div>

        @*<div class="col l6 m12 s12 additional-info-block">
            <div class="col l3 m3 s3 center square-blue-color">
                <i class="fa fa-ambulance fa-4x"></i>
            </div>
            <div class="col l9 m9 s9 text-square">
                <p class="text-title">
                    Tincidunt integer eu augue augue nunc elit dolor
                </p>
                <p class="text-down">
                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod.
                </p>
            </div>
        </div>
        <div class="col l6 m12 s12 additional-info-block">
            <div class="col l3 m3 s3 center square-blue-color">
                <i class="fa fa-users fa-4x"></i>
            </div>
            <div class="col l9 m9 s9 text-square">
                <p class="text-title">
                    Tincidunt integer eu augue augue nunc elit dolor
                </p>
                <p class="text-down">
                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod.
                </p>
            </div>
        </div>
        <div class="col l6 m12 s12 additional-info-block">
            <div class="col l3 m3  s3 center square-blue-color">
                <i class="fa fa-hotel fa-4x"></i>
            </div>
            <div class="col l9 m9 s9 text-square">
                <p class="text-title">
                    Tincidunt integer eu augue augue nunc elit dolor
                </p>
                <p class="text-down">
                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod.
                </p>
            </div>
        </div>
        <div class="col l6 m12 s12 additional-info-block">
            <div class="col l3 m3 s3 center square-blue-color">
                <i class="fa fa-wheelchair fa-4x"></i>
            </div>
            <div class="col l9 m9 s9 text-square">
                <p class="text-title">
                    Tincidunt integer eu augue augue nunc elit dolor
                </p>
                <p class="text-down">
                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod.
                </p>
            </div>
        </div>*@

        <hr style="background-color:#00acc1; height:1px;">
        <div class="col l12 m12 s12">
            <div class="col l4 m6 s12 expirience">
                <p class="title-large">Our expirience</p>
                <img src="~/Content/Images/Staff/doctros small.jpg" class="responsive-img" />
                <p class="gray-text">
                     Whole Family Medicine Center, our services are designed to meet the needs of you and your entire family. We provide comprehensive affordable services including adult and pediatric medical care, health education and promotion, health assessments and screening, and behavioral health services. Our highly trained and qualified professional medical staff is committed to providing outstanding medical care in an environment where everyone feels like family. We believe that to make a difference in people’s health, they need to feel confident, secure and well cared for – just like they would be if they were at home.
                </p>
            </div>

            <div class="col l4 m6 s12 expirience">
                <p class="title-large">We care about you</p>
                <p class="gray-text">
                    Whole Family Medicine Center stands by our services and has developed a Quality nce program to ensure that we exceed the expectation and are committed to our patients and families in the community. 
                </p>
                <ul>
                    <li><i class="fa fa-caret-right"><span>Internal Medicine</span></i></li>
                    <li><i class="fa fa-caret-right"><span>Reproductive Health</span></i></li>
                    <li><i class="fa fa-caret-right"><span>Hypertension</span></i></li>
                    <li><i class="fa fa-caret-right"><span>Heart Disease</span></i></li>
                    <li><i class="fa fa-caret-right"><span>Sickle Cell Disease</span></i></li>
                    <li><i class="fa fa-caret-right"><span>Well Baby Checkups</span></i></li>
                    <li><i class="fa fa-caret-right"><span>Parenting Education</span></i></li>
                    <li><i class="fa fa-caret-right"><span>Vision and Hearing Screenings</span></i></li>
                   
                </ul>
              
            </div>
            <div class="col l4 m6 s12 info-wrapper">
                <div class="col l12 s12 m12 hours">
                    <span><i class="fa fa-clock-o"></i><span id="hour">Hours</span></span>
                    <hr style="background-color:white;height:1px;">
                </div>
                <div class="col l12 s12 m12 schedule">
                    <p>Urgent Care:</p>
                    <ul>
                        <li>Monday - Friday: 8:00 - 17:00</li>
                        <li>Saturday: 8:00 - 17:00</li>
                        <li>Sunday: 1:00 - 17:00</li>
                    </ul>
                    <hr style="background-color:white;height:1px;"> 
                </div>
                <div class="col l12 s12 m12 schedule">
                    <p>Appointments:</p>
                    <ul>
                        <li>Appointments: Monday - Friday: 8:00 - 16:00 </li>
                    </ul>
                   
                </div>
            </div>

        </div>
    </div>
</div>
<!-- block-info -->

@*<script >

    $(document).ready(function () {

        function heightBlock(column) {
            var myBlock = 0;
            column.each(function () {
                thisHeight = $(this).height();
                if (thisHeight > myBlock) {
                    myBlock = thisHeight;
                }
            });
            column.height(myBlock);
        };
        
        window.onresize = heightBlock($(".mainBlock > div .block-info"));
    });

</script>*@