
@{
    ViewBag.Title = "License";
}



<div class="container">
    <div class="row">
        <h4 class="center" style="margin-top:30px;margin-bottom:30px;">License</h4>
       <ul>
           <li style="padding-bottom:10px;font-weight:500;">1. Grant of Limited License. </li>
           <li style="padding-bottom:10px;">Subject to the terms and conditions of this License Agreement, NCCN hereby grants to you a non-transferable, non-exclusive, limited, personal license to access and view the NCCN Content provided on the Site.</li>
           <li style="padding-bottom:10px;font-weight:500;">2. Intellectual Property Rights.</li>
           <li style="padding-bottom:10px;"> You acknowledge that NCCN and licensors that provide content and programs for the NCCN Content (“NCCN Licensors”) are the owners of all right, title and interest in and to the NCCN Content including, without limitation, all modifications, updates and other derivative works thereof and all copyright and other intellectual property rights related thereto. Except for the limited rights expressly set forth in this License Agreement, you hereby agree that you shall not at any time dispute, challenge, or contest, directly or indirectly, NCCN's or the NCCN Licensors’ right, title and interest in and to the NCCN Content, or assist or aid others to do so.</li>
           <li style="padding-bottom:10px;font-weight:500;">3. Restrictions on Use. </li>
           <li style="padding-bottom:10px;"> You may view the NCCN Content contained on the Site solely for your own personal purposes. You may not copy, transfer, reproduce, modify or create derivative works of any part of the NCCN Content for any reason and may not use the NCCN Content for any commercial purpose.</li>
           <li style="padding-bottom:10px;">
                Clinicians may use the NCCN Content to support diagnosis and treatment of their cancer patients. At all times and for all purposes, the NCCN Content may only be used in the context of clinicians exercising independent medical or professional judgment within the scope of their professional license. No one, including clinicians, may use the NCCN Content for any commercial purpose and may not claim, represent, or imply that any NCCN Content that has been modified in any manner is derived from, based on, related to or arises out of the NCCN Content. </li>
           <li style="padding-bottom:10px;"> Researchers and clinicians may use the NCCN ICL Database to support writing and amending informed consents for their study participants. NCCN and NCCN Licensors make no representations or warranties regarding the content of the NCCN ICL Database and explicitly disclaim the appropriateness or applicability of the NCCN ICL Database to any specific patient’s care or treatment or to obtaining patients’ written, informed consent. Any researcher or clinician seeking to obtain a patient’s written, informed consent is expected to use independent medical judgment in the context of individual clinical circumstances of a specific patient’s care or treatment and to seek legal and/or other professional advice.</li>
           <li style="padding-bottom:10px;">
                 You shall not remove any copyright, trademark or other notices or legends contained on the NCCN Content and all copies of the NCCN Content must contain, at a minimum, the following notice: “© National Comprehensive Cancer Network 2017, All Rights Reserved. NATIONAL COMPREHENSIVE CANCER NETWORK®, NCCN®, NCCN GUIDELINES®, NCCN COMPENDIUM®, NCCN BIOMARKERS COMPENDIUM®, NCCN IMAGING AUCTM, NCCN RADIATION THERAPY COMPENDIUM™,NCCN TEMPLATES®, NCCN EVIDENCE BLOCKS™, NCCN FRAMEWORK™, NCCN FLASH UPDATES™, NCCN TRENDS™ Surveys & Data, Powered by NCCN™, NCCN ONCOLOGY INSIGHTS REPORTS™, and NCCN GUIDELINES FOR PATIENTS® are trademarks of National Comprehensive Cancer Network, Inc.”</li>
       </ul>
    </div>
</div>