@{
    ViewBag.Title = "Confirm Email Address Sent";
}

<div class="container">
    <div class="row">
        <div class="center" style="height:200px;">
            <h5 style="margin-top:50px;">We sent to you Email on <b>@ViewBag.Email</b> address to confirmation your account,<br /> please check your Email.</h5>
         
        </div>
    </div>
</div>

